.ChessBoard {
  display: grid;
   grid-template-columns: repeat(10, 10%);
   grid-template-rows: repeat(10, 10%);
   grid-gap: 0;
   width:500px;
   height:500px;

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera*/
}

.ChessBoard > div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0,0,0, .2);
}

.white{
  background-color: #FFFFFF;
}

.black {
  background-color: grey;
}

.withWhite{
  color: #f0c74b;
}

.withBlack{
  color: #000;
}


.sq{
  font-size: 2em;
}


.QN1::after, .KN1::after{
  content: "\265E";
}

.P1::after {
  content: "\265F";
}

.P2::after {
  content: "\265F";
}

.QN2::after,.KN2::after{
  content: "\265E";
}

.hovered{
  border:1px solid red !important;
}
.X::after{
  content: "\1F33D"
}
